<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".NimmaGuruApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NimmaGuru">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.task.TaskManagerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.calendar.ClassCalendarActivity"
            android:exported="false" />

        <activity
            android:name=".ui.appreciation.WallOfFameActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.LanguageActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.StaticContentActivity"
            android:exported="false" />

        <activity
            android:name=".ui.learning.MaterialsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.learning.AssignmentsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.learning.ProgressActivity"
            android:exported="false" />

        <activity
            android:name=".ui.learning.SyllabusListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.guru.GuruProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.guru.GuruChatActivity"
            android:exported="false" />

        <activity
            android:name=".ui.student.StudentSearchActivity"
            android:exported="false" />

        <activity
            android:name=".ui.role.RoleSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.PersonalizationActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
    </application>

</manifest>
